nav{
    background: none;
    color: black;
}

nav ul li a{
    color: black;
}
body{
    background: linear-gradient(rgb(241,254,243) 20%,rgb(255,255,255) 80%);
}
h1{
    color: black;
    text-align: center;
    font-weight: 700;
    margin-top: 100px;
}
#foreword{
    color: black;
    padding: 0 30%;
    margin: 0;
    text-align: center;
}
input{
    display: block;
    width: 270px;
    height: 38px;
    padding-left: 15px;
    background: none;
    border: 1px solid rgb(211,231,220);
}
form a{
    display: block;
    margin-top: 10px;
    width: 270px;
    padding: 10px 0;
    justify-content: center;
    border: 2px solid rgb(0,211,92);
    color: rgb(0,211,92);
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
}
form #signup{
    background: rgb(0,211,92);
    color: white;
    border: none;
}
form{
    background: rgb(245,253,248);
    width: fit-content;
    margin: 0;
    padding: 50px 50px;
}
main img{
    height: 336px;
    width: 340px;
    margin: 50px 50px;
    background: whitesmoke;
}
main div{
    background: white;
}
main{
    display: flex;
    margin: auto;
    margin-top: 100px;
    justify-content: center;
}

form h2{
    color: black;
    text-transform: capitalize;
    font-weight: 700;
    font-size: larger;
}
#message{
    width: 270px;
    height: 100px;
    background: none;
    padding: 15px;
    margin-bottom: 15px;
}

@media screen and (max-width: 820px){
    main img{
        margin: 50px 20px;
    }
    form{
        padding: 50px 20px;
    }
    #foreword{
        padding: 0 15%;
    }

}
@media screen and (max-width: 700px){
    main div{
        display: none;
    }
    form{
        padding: 50px 50px;
    }
    #foreword{
        padding: 0 15%;
    }
}

@media screen and (max-width: 600px){
    #foreword{
        padding: 0 7%;
    }
}