*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    width: 100%;
    background: white;
}
.main-display{
    background: rgb(59, 202, 116);
    width: 100%;
}
nav{
    height: 80px;
    justify-content: center;
    width: 100%;
    background: rgb(41, 197, 107);
}

nav img{
    line-height: 80px;
    margin-left: 60px;
    margin-top: 20px;
}

nav ul{
    float: right;
    margin-right: 60px;
    align-items: center;
}

nav ul li{
    display: inline-block;
    margin-left: 15px;
    line-height: 80px;
}
nav ul li a{
    font-size: 17px;
    color: white;
    text-transform: uppercase;
    transition: all .7s;
}
.checkbtn{
    font-size: 30px;
    color: green;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

#main{
    margin: 20px 40px 30px 60px;
    width: 400px;
}

h1{
    color: white;
    font-size: 37px;
    font-family: sans-serif;
    font-weight: 550;
    margin: 10px auto;
}
h2{
    color: white;
    font-size: 37px;
    font-weight: 1;
    font-family: sans-serif;
    margin-bottom: 10px;
}
p{
    color: white;
    font-size: 18px;
    line-height: 1.5;
    margin: 50px auto;
}

#buttom-link{
    margin-top: 50px;
    display: flex;
}
#buttom-link #download a{
    color: rgb(128, 140, 130);
}
#buttom-link #download{
    text-decoration: none;
    background: white;
    border-radius: 20px;
    color: rgb(169, 170, 169);
    border: none;
    font-size: 15px;
    width: 130px;
    order: 2;
    padding: 10px 0;
    margin-right: 7px;
    justify-content: center;
    display: flex;
    transition: all .5s;
}

#buttom-link #sign-up{
    text-decoration: none;
    border-radius: 20px;
    background: none;
    width: 130px;
    padding: 10px 0;
    font-size: 15px;
    margin-right: 30px;
    justify-content: center;
    color: white;
    border: 1px solid white;
    display: flex;
    transition: all .5s;
}

#buttom-link #download:hover{
    padding: 13px 10px;
    color: black;
    background: cornsilk;
}
#buttom-link #sign-up:hover{
    padding: 13px 10px;
    color: green;
    background: rgb(201, 200, 197);
}
.main-display{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
}
.home-illustration img{
    width: 540px;
    display: flex;
    margin-left: auto;
    margin-right: 60px;
    height: 450px;
}
ul li a:hover, a:active{
    color: seagreen;
}

#main-display{
    margin-bottom: 0;
}
#services{
    margin-top: 0;
    background-color: rgb(247, 253, 248);
    padding: 25px 0px 30px 0;
}
#services h2{
    text-align: center;
    color: black;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
}
#services p{
    text-align: center;
    color: rgb(129, 150, 156);
    margin: 0;
    margin-bottom: 1px;
    font-size: 18px;
}
#service-display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 1em;
    justify-content: center;
    align-items: center;
}
.service{
    width: 210px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.service img{
    width: 190px;
    margin: auto;
    height: 200px;
}
.service h3{
    text-align: center;
    margin: 15px 0 10px 0;
    font-size: 18px;
    text-transform: capitalize;
}
#service-display .service p{
    text-align: center;
    font-size: 14px;
}

#processes{
    margin-top: 100px;
}

#processes h2{
    text-align: center;
    color: black;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
}
#processes p{
    text-align: center;
    color: rgb(129, 150, 156);
    margin: auto;
    idth: 300px;
    isplay: flex;
    margin-bottom: 1px;
    font-size: 18px;
}

.process{
    width: 700px;
    margin: auto;
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
}
.process-text{
    width: 300px;
    margin-top: 30px;
}
.process-text .fa{
    color: white;
    padding: 15px;
    background: rgb(41, 197, 107);
    border-radius: 30px;
    font-size: 25px;
    margin-bottom: 25px;
    box-shadow: 3px 3px 3px 3px  rgb(177, 231, 177);
}
.process #order{
    order: 2;
}
.process h3{
    font-size: 25px;
    margin-bottom: 20px;
}
#processes .process-text p{
    text-align: left;
    font-size: 14px;
}
.process img{
    height: 350px;
    width: 300px;
}

.table{
    padding: 100px 0;
    background: whitesmoke;
    
}
table{
    border-collapse: collapse;
    margin: auto;
    font-size: 14px;
    width: 60%;
    background: white;
    box-shadow: 10px 10px 5px rgb(230, 227, 227);
}

table #first-column{
    width: 200px;
}
table .fa{
    margin-right: 10px;
    font-size: 12px;
}
table #second-column{
    width: 230px;
}
th, td{
    border: 1px solid rgb(228, 233, 235);
    padding: 15px 10px 15px 20px;
    text-transform: ;
}

table th{
    text-align: left;
}


#pricing-bottom{
    background: rgb(41, 197, 107);
    display: flex;
    padding: 70px 150px;
    margin: auto;
    justify-content: center;
}
#pricing-bottom img{
    width: 540px;
    height: 450px;
}
#bottom{
    width: 400px;
    margin-top: 80px;
}
#bottom h2{
    font-size: 26px;
    color: white;
    font-weight: 530;
    line-height: 1.5;
    text-transform: capitalize;
}
#bottom p{
    font-size: 14px;
    margin-top: 15px;
}

#bottom-button{
    margin-top: 35px;
    display: flex;
}

#pricing-bottom #first{
    text-decoration: none;
    background: white;
    border-radius: 20px;
    color: rgb(169, 170, 169);
    border: none;
    font-size: 15px;
    width: 130px;
    padding: 10px 0;
    margin-right: 15px;
    text-transform: capitalize;
    justify-content: center;
    display: flex;
    transition: all .5s;
}

#pricing-bottom #second{
    text-decoration: none;
    border-radius: 20px;
    background: none;
    width: 130px;
    padding: 10px 0;
    text-transform: capitalize;
    font-size: 15px;
    margin-right: 30px;
    justify-content: center;
    color: white;
    border: 1px solid white;
    display: flex;
    transition: all .5s;
}

#pricing-bottom #second:hover{
    padding: 13px 10px;
    color: black;
    background: cornsilk;
}
#pricing-bottom #first:hover{
    padding: 13px 10px;
    color: green;
    background: rgb(201, 200, 197);
}
#feedbacks{
    margin-top: 100px;
}
#feedbacks h2{
    text-align: center;
    color: black;
    font-weight: 800;
    font-size: 30px;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 5px;
}
#feedbacks .p-top{
    text-align: center;
    color: rgb(129, 150, 156);
    width: 30%;
    margin: auto;
    margin-top: 0;
    font-size: 16px;
}

.feedback{
    background: whitesmoke;
    padding: 20px;
    border-bottom: 5px solid rgb(41, 197, 107);
    border-radius: 5px;
    width: 350px;
    margin-right: 20px;
    box-shadow: 10px 10px 5px rgb(243, 240, 240);
}
#feedback-dsiplay{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.feedback-sub{
    display: flex;
}
.feedback-sub img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.feedback-sub .fa{
    margin-left: auto;
    border: none;
    color: lightgrey;
}
.feedback p{
    color: rgb(129, 150, 156);
    font-size: 16px;
    margin: 12px 0 5px 0;
}
.feedback-sub h3{
    color: black;
    text-transform: capitalize;
    margin: 0;
    font-weight: 700;
}
.feedback-sub p{
    color: rgb(129, 150, 156);
    margin: 0;
    text-transform: capitalize;
    font-size: 15px;
}
footer{
    background: rgb(41, 197, 107);
    margin-top: 100px;
    display: grid;
    grid-template-columns: 42% 17% 17% 24%;
    padding: 50px 200px 50px 200px;
    color: white;
}
footer p{
    font-size: 15px;
    margin-top: 30px;
    display: block;
}
footer a{
    color: white;
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 33px;
}
footer div h3{
    margin-bottom: 50px;
    text-transform: capitalize;
    width: auto;
}
footer .first-foot{
    width: 270px;
}
footer .social-media{
    display: flex;
    margin: 0;
}
footer .social-media .fa{
    font-size: 14px;
    padding: 10px;
    color: black;
    background: white;
    margin: 0 5px;
    border-radius: 25px;
}


@media screen and (max-width: 1124px){
    nav img{
        width: 150px;
    }
    .home-illustration img{
        width: 400px;
        height: 400px;
        margin-right: 20px;
    }
    #main{
        margin: 50px auto 100px 20px;
        width: 400px;
    }
    nav img{
        margin-left: 20px;
    }
    
    nav ul{
        margin-right: 20px;
    }

}

@media screen and (max-width: 1200px){
    footer{
        padding: 50px 100px 50px 100px;
    }
    footer{
        background: rgb(41, 197, 107);
        margin-top: 100px;
        display: grid;
        grid-template-columns: 40% 15% 15% 27%;
        padding: 50px 100px 50px 100px;
        color: white;
    }
}


@media screen and (max-width: 900px){
    #feedbacks .p-top{
        width: 40%;
    }
    footer{
        padding: 50px 50px 50px 50px;
        grid-template-columns: 40% 14% 14% 29%;
    }
    #main{
        width: 330px;
    }
    .home-illustration img{
        width: 350px;
    }
}

@media screen and (max-width: 760px){
    #feedbacks .p-top{
        width: 55%;
    }
    #service-display{
        display: block;
    }
    #service-display .service p{
        font-size: 17px;
    }
    .service{
        width: 300px;
    }
    #service-display .service h3{
        font-size: 23px;
        font-weight: 800;
    }
    .process{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .process img{
        order: 2;
        width: 70%;
    }
    .process-text{
        width: 70%;
    }
    #processes .process .process-text p{
        font-size: 17px;
    }
    table{
        font-size: 12px;
        width: 90%;
        margin: auto;
    }
    table #first-column{
        width: 170px;
    }
    table .fa{
        margin-right: 3px;
        font-size: 7px;
    }
    table #second-column{
        width: 150px;
    }
    th, td{
        border: 1px solid rgb(228, 233, 235);
        padding: 10px 5px 10px 10px;
    }
    #pricing-bottom{
        background: rgb(41, 197, 107);
        display: flex;
        padding: 100px 150px;
        margin: auto;
        justify-content: center;
    }
    #pricing-bottom img{
        display: none;
    }
    #bottom-button{
        display: block;
    }
    #bottom-button #first{
        margin: auto;
        margin-bottom: 25px;
    }
    #bottom-button #second{
        margin: auto;
    }
    #pricing-bottom{
        padding: 50px 20px;
    }
    #bottom{
        width: auto;
        padding: 0 10px 0 20px;
        margin-top: 0;
    }
    #bottom p{
        font-size: 17px;
    }
    footer{
        padding: 50px 50px 50px 50px;
        grid-template-columns: auto auto auto auto;
    }
    footer .first-foot{
        grid-column: 1/5;
        grid-row: 1/3;
        width: 70%;
    }
    footer .second-foot{
        width: 30%;
        grid-column: 1/3;
    }
    footer .third-foot{
        width: 30%;
        grid-column: 3/4;
    }
    footer .fourth-foot{
        width: 40%;
        grid-column: 4/5;
    }
    .main-display{
        background: linear-gradient(rgb(41, 197, 107, 0.9),rgb(59, 202, 116, 0.9)), url(../images/wash-machine-with-laundry-service_24877-50600-removebg-preview.png);
        background-repeat: no-repeat;
        background-position: center;
      }
      h1{
          font-size: 32px;
          font-weight: 600;
      }
      h2{
          font-size: 35px;
      }
      ul li a:hover, a:active{
        color: seagreen;
        padding: 2px 5px;
        font-size: 20px;
    }
    .checkbtn{
        display: block;
        color: white;
        margin-right: 20px;
    }
    .fa{
        border: 2px solid white;
        padding: 0px 3px;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: whitesmoke;
        opacity: 1;
        margin: 0;
        padding: 0;
        top: 80px;
        text-align: center;
        display: flex;
        flex-direction: column;
        left: -100%;
        transition: all .5s;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 135px;
    }
    #main{
        margin: 50px 40px 50px 40px;
        width: auto;  
    }
    nav ul li{
        display: block;
        line-height: 50px;
    }
    nav img{
        margin-left: 20px;
    }
    nav ul li a{
        font-size: 23px;
        color: rgb(41, 197, 107);
    }
    #check:checked ~ ul{
        left: 0;
    }
    .main-display{
        padding-top: 100px;
        padding-bottom: 20px;
        display: block;
    }
    .home-illustration{
        display: none;
    }
    #buttom-link{
        margin-top: 50px;
        display: block;
    }
    #buttom-link #sign-up{
        display: flex;
        margin: auto;
        width: 150px;
        margin-top: 30px;
    }
    #buttom-link #download{
        display: flex;
        margin: auto;
        width: 150px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px){
    footer .first-foot{
        width: 80%;
    }
    footer h3{
        font-size: 12px;
    }
    footer a{
        font-size: 10px;
    }
    footer .social-media .fa{
        padding: 5px;
        font-size: 12px;
    }
    #feedbacks .p-top{
        width: 70%;
    }
    .process{
        width: auto;
    }
    .process img{
        width: 92%;
    }
    .process-text{
        width: 95%;
    }
    .process{
        width: auto;
        background-color: white;
    }
    #pricing-bottom #bottom{
        width: auto;
    }
    footer{
        padding: 50px 20px 50px 20px;
        grid-template-columns: auto auto auto auto;
    }
    body{
        background: linear-gradient(rgb(49, 197, 107, 0.9),rgb(59, 202, 116, 0.9)), url(../images/wash-machine-with-laundry-service_24877-50600-removebg-preview.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      h1{
          font-size: 30px;
      }
      h2{
          font-size: 33px;
      }
}