
body, html{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(49, 197, 107);
}
nav{
    display: flex;
    margin: 0 40px 100px 40px;
}

ul{
    list-style-type: none;
    margin-left: auto;
}
li{
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 30px;
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    display: block;
}

#main{
    margin: 50px 40px 100px 40px;
}

h1{
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 550;
    margin: 0;
}
h2{
    color: white;
    font-weight: 1;
    font-family: sans-serif;
    margin: 0;
}
p{
    color: white;
    font-size: 16px;
}

#buttom-link{
    margin-top: 30px;
}
#buttom-link #download a{
    color: rgb(128, 140, 130);
}
#buttom-link #download{
    text-decoration: none;
    background: white;
    border-radius: 20px;
    color: rgb(169, 170, 169);
    padding: 5px 19px;
    border: none;
}

#buttom-link #sign-up{
    text-decoration: none;
    border-radius: 20px;
    background: none;
    width: 200px;
    color: white;
    border: 1px solid white;
    padding: 5px 30px;
}

@media screen and (max-width: 600px){
  nav{
    
    
  }
  nav ul{
    align-items: center;
    background: grey;
    height: 60vh;
    width: 30%;
  }
  li{
    display: block;
    line-height: 50px;
    width: 100px;
    
  }
  ul li a{
    font-size: 20px;
  }
  nav img{
    width: 400px;
    height: 70px;
  }
}